<!DOCTYPE html>
<html>
<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1><%= title %></h1>
    <p>This is a sample Node application deployed to Heroku. It's a reasonably simple app - but a good foundation for understanding how to get the most out of the Heroku platform.</p>
    <div class="d-flex justify-content-center">
      <a type="button" class="d-flex align-items-center btn btn-lg btn-default text-white mr-3" href="https://devcenter.heroku.com/articles/getting-started-with-nodejs"><span class="material-icons">bolt</span> Getting Started on Heroku with Node.js</a>
      <a type="button" class="btn btn-lg btn-primary d-flex align-items-center" href="https://github.com/heroku/node-js-getting-started"><span class="material-icons">download</span>Source on GitHub</a>
    </div>
  </div>
</div>

</body>
</html>
